.Header {
  display: flex;
  background-color: #d4d4d4fd;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column wrap;
  align-content: center;
  justify-content: space-between;
}

.mainText {
  order: 1;
  padding-left: 20px;
}

.Header h3 {
  order: 2;
  padding-right: 1em;
  justify-content: right;
}
